/*

	target
	{
		property: value;
		property: value;
		property: value;
	}

*/

body
{
	font-family: butler;
	background-color: rgb(83, 116, 141);
	
}



#container
{
	border: none;
	padding-left:0px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: bold;
	background-color: transparent;
	font-size: 82px;
	padding-top: 0px

}

#container a:hover 
{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #d59c29;
}

a{
	text-decoration: none;
	color: #d59c29;
}

