/*

	target
	{
		property: value;
		property: value;
		property: value;
	}

*/

body
{
	
	font-family: butler;
}

a
{
	text-decoration: none;
	color: #d59c29;
}

header
{
	font-family: Butler;
	font-weight:bold;
	font-size: 50px;
	margin-top: 30px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}

header a
{
	padding-right: 30px;
}
#container 
{
    border: none;
}
#div1 
{
    display: inline-block;
    border: none;
    width:160px;
    height:160px;
    padding-left: 500px;
    padding-top: 35px;

}
img
{
	width: 568px;
	height: 743px;
	
}
#div2 
{
    display: inline-block;
    float: left;
    width:160px;
    height:160px;
    border: none;
    font-size: 257px;
    margin-left: 10px;
    padding-top: 65px;
    letter-spacing: 20px;
    line-height: 187px;
    font-weight: bold;
    transform: scale(.7, 1);
}
#div3 
{
    display: inline-block;
    float: right;
    width:160px;
    height:160px;
    border: none;
    font-size: 250px;
    line-height: 185px;
    padding-top: 70px;
    padding-right: 530px;
    transform: scale(.7, 1);
    letter-spacing: 40px;
    font-weight: bold;
}
#div4 
{
    display: inline-block;
    width:160px;
    height:160px;
    margin-left: 30px;
    padding-top: 35px;
}
#div5
{
    display: inline-block;
    float: right;
    border: none;
    width:160px;
    height:160px;
    padding-right: 430px;
    padding-top: 35px;

}
#div6
{
    display: inline-block;
    float: left;
    width:160px;
    height:160px;
    border: none;
    font-size: 257px;
    margin-left: 10px;
    padding-top: 65px;
    letter-spacing: 60px;
    line-height: 187px;
    font-weight: bold;
    transform: scale(.8, 1);
    color: black;
}

